.Product {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 25px;
  width: 205px;
  height: 242px;
  padding: 8px;
  background: #f2f2f2;
  border-radius: 8px;
  .productDetails {
    display: flex;
    margin-top: 9px;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
  }
}
