.CheckoutItemContainer {
  display: flex;
  flex-direction: column;
  background-color: aqua;

  height: 81px;
  margin-bottom: 15px;
  background: #fffce4;

  border-radius: 15px;
  .Item {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
  }
  .CheckoutItemLeft {
    display: flex;
    img {
      margin-right: 15px;
    }
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.7);
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;

        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
  .CheckoutItemRight {
    display: flex;
    img {
      cursor: pointer;
      width: 31px;
      height: 31px;
      margin-right: 15px;
    }
    p {
      margin-right: 15px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;

      color: rgba(0, 0, 0, 0.9);
    }
  }
}
